body {
  overflow-x: hidden;
  font-size: 15px;
  font-weight: 400;
  color: #00225d;
  font-family: proxima-nova, sans-serif;
}

*:focus {
  outline: none;
}

a {
  color: #ff5254;

  &:hover {
    color: #ff5254;
    text-decoration: underline;
  }
}
strong,
b {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 20px;
}

.p-tag-h2-style {
  font-weight: 700 !important;
  margin-bottom: 20px !important;
}

h1 {
  font-size: 30px;
  line-height: 35px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

.p-tag-h2-style {
  font-size: 28px !important;
  line-height: 34px !important;
}

h3 {
  font-size: 22px;
  line-height: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01rem;
}

@media (min-width: $responsive-md) {
  h1 {
    font-size: 52px;
    line-height: 54px;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .p-tag-h2-style {
    font-size: 40px !important;
    line-height: 50px !important;
  }

  h3 {
    font-size: 35px;
    line-height: 40px;
  }

  h4 {
    font-size: 25px;
    line-height: 40px;
  }

  h5 {
    font-size: 20px;
    line-height: 25px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01rem;
  }
}

p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01rem;
  margin-bottom: 20px;
}

a.custom-button {
  display: inline-block;
  background: orange;
  color: #fff;
  padding: 12px 1.5rem;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 0.4s ease;
  i {
    margin-right: 8px;
  }
  &:hover {
    text-decoration: none;
    background: darkorange;
  }
}

* {
  &:hover,
  &:focus {
    outline: none;
  }
}

/* Sections */

section {
  padding-top: 50px;
  @media (min-width: $responsive-md) {
    padding-top: 100px;
  }
  .section-title {
    text-align: center;
    margin-bottom: 20px;
    @media (min-width: $responsive-md) {
      margin-bottom: 50px;
    }
    h2 + p {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*contact form 7*/

div.wpcf7-mail-sent-ok {
  border: 2px solid #398f14;
  background: #398f14;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 8px 15px;
  opacity: 0;
}

div.wpcf7-validation-errors {
  background: rgba(255, 0, 0, 0.4);
  border: 2px solid rgba(255, 0, 0, 0.4);
  font-size: 14px;
  color: #fff;
  margin: 25px 0 0;
  padding: 8px 15px;
}

span.wpcf7-not-valid-tip {
  font-size: 12px;
  text-transform: uppercase;
  background: rgba(255, 0, 0, 0.4);
  padding: 4px 10px;
  text-align: left;
  color: #fff;
}

/*slick slider defaults*/

.slick-dots > li:only-child {
  display: none;
}

ul.slick-dots {
  text-align: center;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    margin-right: 8px;
    button {
      background: rgba(255, 255, 255, 0.3);
      text-indent: -9999pt;
      height: 12px;
      width: 12px;
      border-radius: 100px;
      border: none;
      padding: 0;
      outline: none;
    }
  }
  li.slick-active {
    button {
      background: rgba(255, 255, 255, 1);
    }
  }
}

// why choose us section
.section-why-choose-us {
  // max-width: 1200px;
  // margin: auto;
  p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
  }
  .blueTickIcon {
    margin-top: 6px;
    padding-right: 19px;
  }

  @media (min-width: $responsive-md) {
    p {
      font-size: 24px;
      line-height: 45px;
    }
    .blueTickIcon {
      margin-top: 10px;
      padding-right: 36px;
    }
  }
}

// Location section
.section-location {
  .map-bg {
    background-image: url("/wp-content/uploads/2021/11/img_location_map_sm.svg");
    height: 260px;
    background-repeat: no-repeat;
  }
  .blueTickIcon {
    width: 18px;
    margin-right: 20px;
  }
  a,
  .locationText {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: $color-text;
    min-width: 94px;
  }

  .locationName {
    font-size: 10px;
    font-weight: 700;
    line-height: 9px;
    position: absolute;
    min-width: auto;
  }

  .locationDarwin {
    left: 139px;
    top: -5px;
  }

  .locationSunshineCoast {
    top: 97px;
    left: 284px;
  }

  .locationBrisbane {
    left: 294px;
    top: 124px;
  }

  .locationGoldCoast {
    left: 291px;
    top: 153px;
  }
  .locationSydney {
    left: 299px;
    top: 172px;
  }
  .locationCanberra {
    left: 266px;
    top: 190px;
  }

  .locationMelbourne {
    left: 245px;
    top: 208px;
  }

  .locationHobart {
    left: 259px;
    top: 235px;
  }

  .locationParamatta {
    left: 165px;
    top: 152px;
  }

  .locationGeelong {
    left: 137px;
    top: 240px;
  }

  .locationBallarat {
    left: 128px;
    top: 223px;
  }

  .locationBendigo {
    left: 112px;
    top: 208px;
  }

  .locationAdelaide {
    left: 89px;
    top: 163px;
  }

  .locationPerth {
    left: 21px;
    top: 202px;
  }

  @media (min-width: $responsive-md) {
    .map-bg {
      background-image: url("/wp-content/uploads/2021/11/img_location_map_md_lg.svg");
      height: 566px;
      margin-left: -25px;
    }
    a,
    .locationText {
      font-size: 22px;
    }
    .locationName {
      font-size: 22px;
      line-height: 21px;
    }

    .locationDarwin {
      left: 308px;
      top: -8px;
    }

    .locationSunshineCoast {
      top: 212px;
      left: 628px;
    }

    .locationBrisbane {
      left: 651px;
      top: 279px;
    }

    .locationGoldCoast {
      left: 638px;
      top: 335px;
    }
    .locationSydney {
      left: 663px;
      top: 390px;
    }
    .locationCanberra {
      left: 580px;
      top: 427px;
    }

    .locationMelbourne {
      left: 540px;
      top: 467px;
    }

    .locationHobart {
      left: 567px;
      top: 533px;
    }

    .locationParamatta {
      left: 378px;
      top: 343px;
    }

    .locationGeelong {
      left: 313px;
      top: 542px;
    }

    .locationBallarat {
      left: 295px;
      top: 506px;
    }

    .locationBendigo {
      left: 261px;
      top: 470px;
    }

    .locationAdelaide {
      left: 200px;
      top: 367px;
    }

    .locationPerth {
      left: 44px;
      top: 453px;
    }
    .locationText {
      min-width: 117px;
    }
  }
  @media (min-width: $responsive-lg) {
    .map-bg {
      margin-left: -9px;
    }
  }
}


// Who we are page
.page-who-we-are {
  .who_we_are_image_container {
    text-align: center !important;
  }
  .awardItem {
    img {
      width: 15px;
      height: 15px;
      margin-top: 3px;
      margin-right: 13px;
      @media (min-width: $responsive-md) {
        margin-top: 8px;
      }
    }
  }
  .awardDes p {
    font-size: 18px;
  }

  section.section-quote p {
    margin-top: 20px;
  }
  .missionDes {
    text-align: center;
    font-size: 19px;
    line-height: 1.4;
    width: 80%;
    margin: auto;
  }
  .vacanciesText {
    font-size: 11px;
  }

  .vacanciesArrow {
    width: 19px;
    height: 19px;
  }

  .mission-section {
    background: linear-gradient(225deg, #427fdf 0%, #396bb1 100%);
    padding: 50px 0px 30px 0px;
  }
  .vacanciesContainer {
    margin-top: 130px;
  }
  .section-quote h3 {
    color: #00225d;
  }

  .valueItem img {
    height: 30px;
    width: 30px;
  }
  .section-quote h3:after {
    background: none;
  }
  .section-bottom-comment {
    text-align: center !important;
  }

  // responsive
  @media (min-width: $responsive-md) {
    .who_we_are_image_container {
      text-align: right !important;
    }
    .section-quote {
      text-align: unset;
    }
    .vacanciesContainer {
      margin-top: 30px;
    }
    .vacanciesText {
      font-size: 16px;
    }

    .vacanciesText {
      position: relative;
    }
    .vacanciesText:before,
    .vacanciesText:after {
      content: "";
      display: inline-block;

      height: 2px;
      background: #d8d8d8;
      position: relative;
      vertical-align: middle;
      width: 10%;
      margin: 0px 8px;
    }
    // .vacanciesText:after {
    //   content: "";
    //   height: 2px;
    //   background: #d8d8d8;
    // }

    .valueHeading {
      font-size: 1.25rem;
    }

    .section-value {
      padding-bottom: 60px;
      padding-top: 20px;
    }

    &.section-bottom-comment {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .clientLogoWhirlpool {
      padding-top: 20px;
    }

    .clientLogMotherCare {
      padding-top: 28px;
    }

    .clientLogoCathay {
      padding-top: 3px;
    }
  }

  @media (min-width: $responsive-lg) {
    .section-value {
      padding-bottom: 80px;
      padding-top: 80px;
    }
    .comment-section-heading {
      padding-bottom: 75px;
    }
    .section-awards {
      .text-container {
        max-width: 750px;
      }
    }

    section.section-quote h3 {
      font-size: 20px;
    }

    section.section-quote h3:before {
      top: -79.5px;
    }
    .whirlpoolName {
      padding-top: 36px;
    }

    .cathayName {
      padding-top: 35px;
    }

    .clientLogoWhirlpool {
      padding-top: 40px !important;
    }

    .clientLogMotherCare {
      padding-top: 47px !important;
    }

    .clientLogoCathay {
      padding-top: 18px !important;
    }
    .section-three-quote {
      padding: 114px 0 30px;
    }
  }

  @media (min-width: $responsive-xl) {
    .whirlpoolName {
      padding-top: 0px;
    }

    .cathayName {
      padding-top: 0px;
    }

    .clientLogoWhirlpool {
      padding-top: 28px !important;
    }
    .clientLogMotherCare {
      padding-top: 33px !important;
    }

    .clientLogoCathay {
      padding-top: 0px !important;
    }
  }

  @media (min-width: 1980px) {
    .firstSectionImgContainer {
      padding-left: 180px;
    }
  }
  @media (max-width: 768px) {
    .section-value {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .vacanciesContainer {
      margin-top: 50px;
    }
  }
  // font size setting
  .whoWeAreSection {
    // font size - sm
    &.banner {
      h1 {
        font-size: 35px;
      }

      .subHeading {
        font-size: 24px;
      }
    }
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
    &.section-quote h3 {
      font-size: 20.05px;
      line-height: 35.08px;
    }
    &.section-quote p {
      font-size: 20px;
      line-height: 35.08px;
    }
    .valueHeading {
      font-size: 20px !important;
    }

    .mission-section h2 {
      font-size: 28px;
      line-height: 31.5px;
    }

    .missionDes {
      font-size: 17px;
      line-height: 20.5px;
      font-weight: 700;
    }
    &.section-bottom-comment h3 {
      font-size: 24.05px !important;
      line-height: 35.08px !important;
    }

    // font md
    @media (min-width: $responsive-md) {
      &.banner {
        h1 {
          font-size: 52.12px !important;
        }

        .subHeading {
          font-size: 34.88px;
          line-height: 35.93px;
        }
      }
      h2 {
        font-size: 40.09px;
      }
      p {
        font-size: 20.05px;
        line-height: 29.07px;
      }
      .nickDes {
        font-size: 25.06px;
      }
      &.section-quote h3 {
        font-size: 16.37px;
        line-height: 24.91px;
      }
      &.section-quote p {
        font-size: 17.79px;
        line-height: 24.91px;
      }
      .valueHeading {
        font-size: 27.95px !important;
      }
      .valueDes p {
        font-size: 22.36px;
        line-height: 29.07px;
      }

      &.mission-section h2 {
        font-size: 40.09px;
        line-height: 31.5px;
      }

      .missionDes {
        font-size: 21px;
        line-height: 28.5px;
        font-weight: 700;
      }
      &.section-bottom-comment h3 {
        font-size: 26.33px !important;
        line-height: 35.01px !important;
      }
    }

    // font lg
    @media (min-width: $responsive-lg) {
      &.section-quote h3 {
        font-size: 23.05px;
        line-height: 35.08px;
      }
      &.section-single-quote h3:after {
        background: none;
      }

      .name {
        // font-size: 25.06px !important;
        // line-height: 35.08px !important;
      }
      &.section-bottom-comment h3 {
        font-size: 30px !important;
        line-height: 39.99px !important;
      }
    }
  }
}

// clients comments section
.section-clients-comments {
  max-width: 1200px;
  margin: auto;

  .clientComment:before {
    content: "";
    background: url(/wp-content/uploads/2021/11/icon-quote-red.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 14px;
    width: 34px;
    height: 27px;
    top: 13px;
  }
  .clientComment {
    font-size: 20.5px;
    line-height: 35px;
    margin-top: 60px;
  }

  .clientName {
    font-size: 20px;
    line-height: 35px;
  }

  @media (min-width: $responsive-md) {
    .clientComment {
      font-size: 16.37px;
      line-height: 24.91px;
      min-height: 184px;
    }
    .clientComment:before {
      left: -14px;
    }
    .clientName {
      font-size: 18px;
      line-height: 25px;
      min-height: 65px;
    }
  }
  @media (min-width: $responsive-lg) {
    .clientComment:before {
      left: -14px;
    }
    .clientComment {
      font-size: 23px;
      line-height: 35px;
      min-height: 282px;
    }
    .clientName {
      font-size: 25px;
      line-height: 35px;
      min-height: 110px;
    }
  }
  @media (min-width: $responsive-xl) {
    .clientComment {
      min-height: 280px;
    }
    .clientName {
      min-height: 75px;
    }
  }
}